<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LadyDressSister.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CA07D3920F5A9EF00A4BC83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CA07D5120F5A9EF00A4BC83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CA07D5C20F5A9F000A4BC83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
